body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../../assets/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 10%;
    width: 70%;
}

.goBackArrow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
}

img{
    object-fit: contain;
    height: 80%;
    width: 80%;
}

.content{
    height: 100%;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
    
}

.card{
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px wheat solid;
    margin: 8%;
    border-radius: 12%;
}

.image{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

span{
    text-align: center;
    text-transform: capitalize;
    font-weight:bolder;
    font-size: x-large;
}

a{
    margin-bottom: 3%;
    color: rgb(191, 202, 198);
}


.infoCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 100%;
}

