body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: cadetblue;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 20%;
    width: 70%;
    background-color: brown;
}

.goBackArrow{
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: blueviolet;
    height: 80px;
    width: 85px;
}

img{
    object-fit: contain;
    height: 50%;
    width: 50%;
}

.content{
    height: 80%;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;

}

.attributeCard{
    border: 3px solid rgb(229, 148, 56);
    background-color: aliceblue;
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 17%;
    padding-top: 5%;
    border-radius: 15%;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

.attributeCard:hover {
    transform: scale(1.2);
}